{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style_print.css' %}" type="text/css">
    <title>METsoft - Oferta</title>
</head>
<body>

<label>FORMULARZ NR 2.1-1.00.03</label>
<table align="center" border="1">
    <tr>
        <td rowspan="2" width=130px><img src="{% static 'images/MET_logo.png' %}" alt="METALODLEW SA"></td>
        <td colspan="2" style="text-align: center; font-size: 16px">ZAŁOŻENIA TECHNOLOGICZNE DO OFERTY</td>
    </tr>
    <tr>
        <td width=150px>Nr: <b style="font-size: 18px">{{ offer.offer_no }}</b></td>
        <td>Klient: <b style="font-size: 18px">{{ offer.client }}</b></td>
    </tr>
</table>

<table align="center" border="1">
    {% for detail in details %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td>
                <i>odlew: </i><b>{{ detail.cast_name }}</b>;
                <i>nr rys.: </i><b>{{ detail.drawing_no }}</b>;
                <i>materiał: </i><b>{{ detail.mat.material }}</b><br>
                <i>ciężar[kg]: </i><b>{{ detail.cast_weight|default_if_none:"" }}</b>;
                <i>il. szt.: </i><b>{{ detail.pieces_amount|default_if_none:"" }}</b>;
                <i>uzysk[%]: </i><b>{{ detail.detail_yield|default_if_none:"" }}</b>;
                <i>st. tr.: </i><b>{{ detail.difficulty|default_if_none:"" }}</b>;
                <i>model: </i><b>{{ detail.pattern|default_if_none:"" }}</b>;<br>
                <i>obr. cieplna: </i><b>{{ detail.heat_treat|default_if_none:"" }}</b>;
                <i> odb. na: </i><b>{{ detail.required|default_if_none:"" }}</b>;
                <i>skrzynie form.[m]: </i><b>{{ detail.boxes|default_if_none:"" }}</b>;
                {% if detail.quality_class is not None %}
                    <i><br> klasa jakości: </i><b>{{ detail.quality_class }}</b>;
                {% endif %}
                {% if detail.others is not None %}
                    <i>inne: </i><b>{{ detail.others|default_if_none:"" }}</b>;
                {% endif %}
                <i>Chromit: </i><b>{{ detail.fr_chromite|default_if_none:"" }} %</b>;
                <br>
            </td>
        </tr>
    {% endfor %}
</table>

<table align="center" border="1">
    <tr>
        <td>
            <i>Obr. mech.: </i>  {{ machining }}
            <i><br>Pochylenia: </i> {{ tapers }}
            <i><br>Tolerancje: </i> {{ tolerances }}
            <i><br>Atest: </i> {{ atest }}
        </td>
    </tr>
    <tr>
        <td>
            Uwagi:<br> {{ offer.notices|linebreaksbr }}
        </td>
    </tr>

</table>

<table align="center" border="1">
    <tr height=30px>
        <td>Opracował:
            {% if offer.date_tech_out %}
                {{ offer.date_tech_out|date:"Y-m-d" }}
            {% else %}
                {% now 'Y-m-d' %}
            {% endif %}
                {{ offer.user_tech }}
        </td>
        <td>Sprawdził:
            {% if offer.date_tech_out %}
                {{ offer.date_tech_out|date:'Y-m-d' }}
            {% else %}
                <b>{% now 'Y-m-d' %}</b>
            {% endif %}
        </td>
    </tr>

</table>
<div id="1"><i> Wydrukowano: {% now 'Y-m-d' %}</i></div>

</body>
</html>