{% extends 'offers/base.html' %}

{% block content %}
    <div class="text-center my-3">
            <h1>Rejestr ofert</h1>
    </div>

    <table id="table" class="table table-bordered table-sm table-hover" style="width: 100%">
        <thead>
            <tr>
                <th>Nr oferty</th>
                <th>Klient</th>
                <th>Marketingowiec</th>
                <th>Technolog</th>
                <th>Data przekazania do WZT</th>
                <th>Data wydania z WZT</th>
                <th>Ilość pozycji</th>
                <th>Detale</th>
                <th>Do druku</th>
                <th>Status</th>
                <th>Ilość dni</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nr oferty</th>
                <th>Klient</th>
                <th>Marketingowiec</th>
                <th>Technolog</th>
                <th>Data przekazania do WZT</th>
                <th>Data wydania z WZT</th>
                <th>Ilość pozycji</th>
                <th>Detale</th>
                <th>Do druku</th>
                <th>Status</th>
                <th>Ilość dni</th>
            </tr>
        </tfoot>
    </table>
{% endblock content %}

{% block scripts %}
     <script defer>
            $(document).ready( function () {
                $('#table').DataTable({
                    lengthMenu: [ [50, 100, 200, 500], [50, 100, 200, 500] ],
                    order: [[4, 'desc'], [7, 'desc']],
                    serverSide: true,
                    processing: true,
                    language: { "processing": "Ładowanie strony" },
                    ajax: '/offers/api/offers/?format=datatables',
                    columns: [
                        {data: 'offer_no', name: 'offer_no',
                            "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                                $(nTd).html('<a href="/offers/' + oData.id + '/update" >' + sData +'</a>');
                            }
                        },
                        { data: 'client', name: 'client' },
                        { data: 'user_mark.first_name', name: 'user_mark.first_name' },
                        { data: 'user_tech.first_name', name: 'user_tech.first_name' },
                        { data: 'date_tech_in', name: 'date_tech_in' },
                        { data: 'date_tech_out', name: 'date_tech_out' },
                        { data: 'positions_amount', name: 'positions_amount' },
                        { data: 'id', name: 'id',
                            "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                                $(nTd).html('<a href="/offers/' + sData +'/details">Detale</a>');
                            }
                        },
                        { data: 'id', name: 'id',
                            "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                                $(nTd).html('<a href="/offers/' + sData + '/print" target="_blank">Do druku</a>');
                            }
                        },
                        { data: 'status.offer_status', name: 'status.offer_status' },
                        { data: 'get_days_amount', searchable: false },
                    ],
                    rowCallback : function(row, data){
                        if (data.status.id == 1){
                            var diff  = new Date(new Date() - new Date(data.date_tech_in));
                            var days = diff/1000/60/60/24;

                            if (days > 5)
                                $(row).addClass('table-danger');

                            if (days < 6)
                                $(row).addClass('table-success');
                        }
                    }
                });

                 //Kod do wyszukiwania po kolumnach

                // Setup - add a text input to each footer cell
                $('#table tfoot th').each( function () {
                    var title = $(this).text();
                    $(this).html( '<input type="text" placeholder="Szukaj '+title+'" />' );
                } );

                // DataTable
                var table = $('#table').DataTable();

                // Apply the search
                table.columns().every( function () {
                    var that = this;

                    $( 'input', this.footer() ).on( 'keyup change', function () {
                        if ( that.search() !== this.value ) {
                            that
                                .search( this.value )
                                .draw();
                        }
                    } );
                } );
            });
    </script>
{% endblock scripts %}
