{% extends 'offers/base.html' %}

{% block content %}
    <form class="fieldset" method="POST">
        {% csrf_token %}
        <br>
        <fieldset>
            {% if form.instance.pk  %}
                <legend>EDYTUJ OFERTĘ</legend>
            {% else %}
                <legend>DODAJ OFERTĘ</legend>
            {% endif %}
            <ul>
                {{ form.as_ul }}
                <button class="btn btn-outline-info">Zapisz</button>
            </ul>
        </fieldset>
    </form>
{% endblock content %}

