{% extends 'offers/base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css"/>

{% endblock css %}

{% block content %}
<div class="text-center my-3">
        <h1>Rejestr modeli</h1>
</div>

        <table id="patterns" class="table table-bordered table-sm table-hover" style="width: 100%">
            <thead>
            <tr>
                <th>Nazwa firmy</th>
                <th>Numer rysunku</th>
                <th>Nazwa odlewu</th>
                <th>Ostatnie zlecenie</th>
                <th>Ilość zleceń.</th>
                <th>Powierz- chnia</th>
                <th>Numer ułożenia</th>
                <th>Miejsce ułożenia</th>
                <th>Materiał</th>
                <th>Numer kartoteki</th>
                <th>Numer indeksu modelu</th>
                <th>Weryfikacja</th>
                <th>Uwagi</th>
                <th>Data weryfikacji</th>
                <th>Nazwisko</th>
                <th>Status</th>
                <th>Data zmiany statusu</th>
                <th>Czas nieużywania modelu</th>
                <th>Operacje</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nazwa firmy</th>
                <th>Numer rysunku</th>
                <th>Nazwa odlewu</th>
                <th>Ostatnie zlecenie</th>
                <th>Il. zleceń</th>
                <th>Powierz- chnia</th>
                <th>Numer ułożenia</th>
                <th>Miejsce ułożenia</th>
                <th>Materiał</th>
                <th>Numer kartoteki</th>
                <th>Numer indeksu modelu</th>
                <th>Weryfikacja</th>
                <th>Uwagi</th>
                <th>Data weryfikacji</th>
                <th>Nazwisko</th>
                <th>Status</th>
                <th>Data zmiany statusu</th>
                <th>Czas nieużywania modelu</th>
                <th>Operacje</th>
            </tr>
        </tfoot>

        </table>

{% endblock content %}

{% block scripts %}

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>


    <script defer>
        $(document).ready( function () {
            $('#patterns').DataTable({
                lengthMenu: [ [25, 50, 100, 200, 500], [25, 50, 100, 200, 500] ],
                order: [[0, 'desc']],
                serverSide: true,
                processing: true,
                language: { "processing": "Ładowanie strony"
                },
                ajax: '/patterns/api/patterns/?format=datatables',
                columns: [
                    { data: 'customer', name: 'customer' },
                    { data: 'drawing_number', name: 'drawing_number' },
                    { data: 'pattern_name', name: 'pattern_name' },
                    { data: 'last_order', name: 'last_order' },
                    { data: 'orders_amount', name: 'orders_amount' },
                    { data: 'area',
                        name: 'area',
                        render: $.fn.dataTable.render.number( ' ', ',', 2)
                    },
                    { data: 'layer_number', name: 'layer_number' },
                    { data: 'layer_place', name: 'layer_place' },
                    { data: 'material', name: 'material' },
                    { data: 'cart_number', name: 'cart_number' },
                    { data: 'pattern_index', name: 'pattern_index' },
                    { data: 'verification', name: 'verification' },
                    { data: 'remarks', name: 'remarks' },
                    { data: 'verification_date', name: 'verification_date' },
                    { data: 'surname', name:'surname'},
                    { data: 'status', name:'status'},
                    { data: 'move_in', name:'move_in'},
                    { data: 'last_order', name: 'last_order',

                        "fnCreatedCell":function(nTd, sData, oData, iRow, iCol){
                            if(oData.status=='Zezłomowany' || oData.status=='Zabrany przez klienta' || oData.status == 'Brak modelu' || oData.status == 'Wypożyczony przez klienta')
                                $(nTd).html('');
                            else
                            {
                                var start = new Date(sData);
                                var end   = new Date();
                                var diff  = new Date(end - start);
                                var months  = diff/1000/60/60/24/30;

                                $(nTd).html(months.toFixed(0));
                            }
                        }
                    },
                    {
                        "data": "id",
                        "render": function(data, type, row, meta){
                            if(type === 'display'){
                                data = '@can('modelarnia')<a class="iframe" href="/patterns/' + data + '/edit">Edytuj</a><br>' +
                                '<a class="iframe" href="/patterns_status/' + data + '">Status</a><br>@endcan' +
                                '<a class="iframe" href="/patterns/' + data + '">Karta</a>'

                                ;
                            }

                            return data;
                        }
                    }
                ],
                "drawCallback":function (sttings){
                    $(".iframe").colorbox({iframe:true, width:"90%", height:"90%", });
                }



            });

            //Kod do wyszukiwania po kolumnach

            // Setup - add a text input to each footer cell
            $('#patterns tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Szukaj '+title+'" />' );
            } );

            // DataTable
            var table = $('#patterns').DataTable();

            // Apply the search
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

        } );
    </script>

{% endblock scripts %}
